body {
    background-color: #1853d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav h1 {
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    
}

nav h3 {
    color: #fff;
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}


.info {
    background-color: #fff;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info p {
    margin: 0;
    line-height: 1.5;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #00c3ff;
    padding: 20px;
    border-radius: 5px;
}

.content-div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.content h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}



.content-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    height: auto;
    overflow: hidden;
    padding: 10px;
    align-items: center;
    width: 600px;
    max-width: 100%;
    flex-shrink: 0;
}

.content-item-text {
    width: 100%;
    text-align: left;
}

.content-item-text a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.content-item-text p {
    text-align: left;
    margin: 10px;
    line-height: 1.5;
}

.content-item img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    background-color: #fff;
    align-self: center;
}

.nav_links {
    display: flex;
    gap: 20px;

}

.nav_links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}