body {
    background-color: #1853d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    
}

h3 {
    color: #fff;
    text-align: right;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}


