body {
    background-color: #1853d4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

nav h1 {
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
    
}

nav h3 {
    color: #fff;
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}


.info {
    background-color: #fff;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info h4 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.info p {
    margin: 0;
    line-height: 1.5;
}

.content {
    background-color: #00c3ff;
    padding: 20px;
    border-radius: 5px;
}

.content h3 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.content-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 2px;
    max-height: 100px;
    overflow: hidden;
}

.content-item-text a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.content-item-text p {
    text-align: left;
    margin: 10px;
    line-height: 1.5;
}

.content-item img {
    width: 10%;
    height: auto;
    border-radius: 5px;
}